<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script>
	function register(){
		let account = document.getElementById('account').value;
		let passwd = document.getElementById('passwd').value;
		let name = document.getElementById('name').value;
		
		let data = {
				account : account,
				passwd : passwd,
				name : name
		};
		console.log(JSON.stringify(data));
		
		fetch('/user/register',{
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(data)
			})
			.then(response => {
				if (!response.ok){
					throw new Error('Error: test2()');
				}
				return response.json();
			})
			.then(data => {
				console.log('Success: ',data);
				//window.location.href = '/main';
			})
			.catch(error => {
				console.error('err:', error);
			});		
	}
	
	function checkAccount(){
		let account = document.getElementById('account').value;
		fetch('/user/isexist/' + account)
		.then(response => {
			if (!response.ok){
				throw new Error('Error: test1()');
			}
			return response.json();
		})
		.then(data => {
			console.log(data);
			document.getElementById('checkMesg').innerHTML = data.mesg;
		})
		.catch(error => {
			console.error('err:', error);
		});		
	}
	
	window.onload = function(){
		document.getElementById('uploadForm').addEventListener('submit',function(event){
			let formData = new FormData();
			let uploadFile = document.getElementById('uploadFile').files[0];
			let account = document.getElementById('account').value
			let passwd = document.getElementById('passwd').value
			let name = document.getElementById('name').value
			
			formData.append('uploadFile', uploadFile);
			formData.append('account', account);
			formData.append('passwd', passwd);
			formData.append('name', name);
			
			console.log(formData);

			fetch('/user/registerV2',{
					method : 'POST',
					body: formData
				})
				.then(data => {
					console.log('success');
				})
				.catch(error => {
					console.log('error');
				});
			
		});
		
		
	}
	
	
</script>
<div th:include="header"></div>
	Register Page
	<hr />
	Account: <input id="account" onblur="checkAccount()" /><span id="checkMesg"></span><br />
	Password: <input type="password" id="passwd" /><br />	
	Name: <input id="name" /><br />
	<form id="uploadForm">
		<input type="file" id="uploadFile" name="uploadFile" />
		<button type="submit">Register</button>
	</form>	
	
	
	
<div th:include="footer"></div>
	